.grid_container {
  /* border: 2px solid red; */
  display: grid;
  height: auto;
  width: 100vw;
  grid-template-columns: 30vw 38vw 30vw;
  grid-template-rows: min-content 38vh 30vh;
  column-gap: 1vw;
  row-gap: 1vh;
  grid-auto-rows: 200px;
}
.grid_item {
  border: 2px solid blue;
}

#grid-11 {
  border: 1px solid red;
  background-color: black;
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 20px;
  box-shadow: 10px 20px 15px 3px;
  justify-content: center;
  align-content: center;
}
#grid_11_paragrapgh {
  color: aliceblue;

  text-decoration: none;
}
#grid-12 {
  background-color: transparent;
  background-image: url(question/cryptic\ addition.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
}
#grid-13 {
  background-color: transparent;
  background-image: url(question/hexagon\ to\ diamond.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column-start: 1/2 fr;
  grid-row-end: 1/2fr;
}
#grid-14 {
  background-color: transparent;

  background-image: url(question/letter\ multiplication.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#grid-15 {
  background-color: transparent;
 font-style: bold;
 font-size: 1em;
  background-repeat: no-repeat;
  background-position: center;
}
#grid-16 {
  background-color: transparent;
  background-image: url(question/day\ before\ yesterday.png);
  background-repeat: no-repeat;
  background-position: center;
}
#grid-17 {
  background-color: transparent;
  background-image: url(question/math\ expression.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#grid-18 {
  background-color: transparent;
  background-image: url(question/substraction\ problem.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#grid-19 {
  background-color: transparent;
  background-image: url(question/substraction\ problem.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 580px) {
  .grid_container {
    /* border: 2px solid red; */
    display: grid;
    height: auto;
    width: 100vw;
    grid-template-columns: 30vw 15vw 53vw;
    grid-template-rows: min-content 25vh 20vh;

    grid-auto-rows: 10vw;
    grid-auto-columns: 20w;
  }

  #grid-11 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #grid-12 {
    background-color: transparent;
    background-image: url(question/cryptic\ addition.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }

  #grid-13 {
    /* grid-area: min-content; */
    background-position: top;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  #grid-14 {
    background-position: top;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #grid-15 {
    background-position: top;
    font-size: 0.5em;
  }
}
