*{
    padding: 0px;
    margin: 0px;
   
}
#first_block_div{
    border: 2px solid gold;
    background-color: black;
    height: 45vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
justify-content: center;
align-items: center;
}

#first_block_div_image{
    height: 15em;
    width: auto;
    border: 2px solid gold;
    box-shadow: 10px 20px 15px 0px grey ;
}